<!--The content below is only a placeholder and can be replaced.-->
<div class="headerDiv">
  <div class="inlineDiv" style="text-align:center">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="navDiv">
    <nav>
        <a href="http://localhost:4200/" class="navLink">Find Car</a> |
        <a href="http://localhost:4200/" class="navLink">Pricing</a> |
        <a href="http://localhost:4200/" class="navLink">Help</a> |
        <a href="http://localhost:4200/" class="navLink">About Us</a>
    </nav>
</div>
<div class="mainDiv">
  <div class="listDiv">
    <app-car-list></app-car-list>
  </div>
  <div class="mapDiv">
    <app-map></app-map>
  </div>
</div>
<!-- <div class="footDiv">
    <p>&copy; RMIT Car Share 2019</p>
</div> -->



