<agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="14">
  <agm-marker [latitude]="latFiesta" [longitude]="lngFiesta" [label]="'Fiesta'" [markerClickable]="true"></agm-marker>
  <agm-marker [latitude]="latSwift" [longitude]="lngSwift" [label]="'Swift'" [markerClickable]="true"></agm-marker>
  <agm-marker [latitude]="latGolf" [longitude]="lngGolf" [label]="'Golf'" [markerClickable]="true"></agm-marker>
  <agm-marker [latitude]="latPolo" [longitude]="lngPolo" [label]="'Polo'" [markerClickable]="true"></agm-marker>
  <agm-marker [latitude]="latGTR" [longitude]="lngGTR" [label]="'GTR'" [markerClickable]="true"></agm-marker>
  <agm-circle [latitude]="latUser" [longitude]="lngUser" [radius]="60" [fillColor]="'Blue'" [fillOpacity]="1.0"></agm-circle>
</agm-map>
